<%= form_with(model: article) do |f| %>
  <% if article.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h4>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Enter article title' %>
  </div>

  <div class="form-group">
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_area :content, rows: 12, class: 'form-control', placeholder: 'Write your article content here...' %>
  </div>

  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %> 