<div class="container mt-5">
  <div class="mb-4">
    <%= link_to articles_path, class: 'btn btn-outline-secondary' do %>
      <i class="fas fa-arrow-left"></i> Back to list
    <% end %>
  </div>

  <div class="article bg-white p-4 shadow-sm rounded">
    <h1 class="mb-4"><%= @article.title %></h1>
    
    <div class="article-content mb-4">
      <p><%= simple_format(@article.content) %></p>
    </div>
    
    <div class="article-actions d-flex">
      <%= link_to edit_article_path(@article), class: 'btn btn-warning me-2' do %>
        <i class="fas fa-edit"></i> Edit
      <% end %>
      <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
    </div>
  </div>
</div> 